# Debug directory
Debug/

# history directory
_histroy/

# private temporary directory and files
_*/
_*

# Mac OS X
.DS_Store

# Windows Thumbnails DB
Thumbs.db

# C++Builder temporary file
*.cbproj.local
*.tds
*.map
*.ilc
*.ild
*.ilf
*.ils


