/* ========== Text Styles ========== */
hr { color: #000000}
body, table, span.rvts0 /* Normal text */
{
 font-size: 10pt;
 font-family: 'Arial', 'Helvetica', sans-serif;
 font-style: normal;
 font-weight: normal;
 color: #000000;
 text-decoration: none;
}
span.rvts1 /* Heading */
{
 font-weight: bold;
 color: #0000ff;
}
span.rvts2 /* Subheading */
{
 font-weight: bold;
 color: #000080;
}
span.rvts3 /* Keywords */
{
 font-style: italic;
 color: #800000;
}
a.rvts4, span.rvts4 /* Jump 1 */
{
 color: #008000;
 text-decoration: underline;
}
a.rvts5, span.rvts5 /* Jump 2 */
{
 color: #008000;
 text-decoration: underline;
}
span.rvts6 /* Font Style */
{
}
a.rvts7, span.rvts7
{
 color: #006600;
 text-decoration: underline;
}
a.rvts7:hover { color: #000000; background-color: #ffcccc; }
a.rvts8, span.rvts8
{
 color: #0000ff;
 text-decoration: underline;
}
a.rvts8:hover { color: #0000ff; }
span.rvts9 /* Font Style */
{
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-style: italic;
 color: #c0c0c0;
}
a.rvts10, span.rvts10 /* Font Style */
{
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-style: italic;
 color: #6666ff;
 text-decoration: underline;
}
span.rvts11
{
 font-size: 12pt;
 font-family: 'Times New Roman', 'Times', serif;
 font-weight: bold;
 color: #333333;
}
span.rvts12
{
 font-size: 9pt;
 font-family: 'Times New Roman', 'Times', serif;
 color: #333333;
}
a.rvts13, span.rvts13
{
 font-size: 9pt;
 font-family: 'Times New Roman', 'Times', serif;
 color: #006600;
 text-decoration: underline;
}
a.rvts13:hover { color: #000000; background-color: #ffcccc; }
span.rvts14
{
 font-weight: bold;
 color: #ff0000;
}
a.rvts15, span.rvts15
{
 color: #0000ff;
 text-decoration: underline;
}
a.rvts15:hover { color: #0000ff; }
/* ========== Para Styles ========== */
p,ul,ol /* Paragraph Style */
{
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 0px 0px;
}
.rvps1 /* Centered */
{
 text-align: center;
}
.rvps2 /* Paragraph Style */
{
}
.rvps3
{
 text-align: center;
}
.rvps4 /* Paragraph Style */
{
 text-align: center;
 border-color: #c0c0c0;
 border-style: solid;
 border-width: 1px;
 border-right: none;
 border-left: none;
 padding: 2px 0px 2px 0px;
 margin: 7px 0px 7px 0px;
}
.rvps5
{
 text-align: left;
 text-indent: 0px;
 border-color: #cccccc;
 border-style: solid;
 border-width: 4px;
 border-top: none;
 border-right: none;
 border-bottom: none;
 padding: 0px 0px 4px 8px;
 margin: 15px 0px 15px 0px;
}
.rvps6
{
 margin: 10px 0px 10px 0px;
}
.rvps7
{
 margin: 7px 0px 7px 0px;
}
